amqp
asgiref
billiard
biopython
biothings-client
cached-property
celery
celery-progress
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
crispy-bootstrap4
Django==4.2.8
django-celery-beat
django-celery-results
django-cors-headers
django-crispy-forms
django-filter
django-filters-facet @ git+https://github.com/caktus/django-filters-facet.git@main#egg=django-filters-facet
django-rest-framework
django-simple-history
django-timezone-field
djangorestframework
elasticsearch-dsl>=7.0.0,<8.0.0
django-elasticsearch-dsl
django-elasticsearch-dsl-drf
idna
importlib-metadata
kombu
mozilla-django-oidc
mygene
numpy==1.26.2
pandas==1.1.5
plac
prompt-toolkit
PyMySQL
python-crontab
python-dateutil
python-dotenv
pytz
PyYAML
redis
requests
six
sqlparse
tqdm
typing-extensions
urllib3
vine
wcwidth
zipp
