<div class="table-responsive">
<table class="table table-striped table-hover table-bordered">
<thead>
<tr class="table-success">
    <th colspan="4" class="text-center">
            <h3>10 most recently annotated genes</h3>
    </th>
</tr>
</thead>
<tbody>
{% for annotation in latest_annotations %}
    <tr>
        <td>
            <a href="{% url 'annotations:annotation' pk=annotation.pk %}">{{ annotation.db }}:{{ annotation.db_obj_id }}</a>
        </td>
        <td>
            <a href="{% url 'taxon:taxon' ncbiID=annotation.taxon.pk %}">{{ annotation.taxon }}</a>
        </td>
        <td>
            <a href="https://browser.planteome.org/amigo/term/{{ annotation.ontology_term.onto_term }}">{{ annotation.ontology_term.onto_term }}</a>
        </td>
        <td style="text-align: left">
            {{ annotation.db_obj_synonym|truncatechars:12 }}
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
</div>