{% extends 'base.html' %}

{% block title %}Taxon base page{% endblock %}

{% block main %}
<div class="row">
    <div id="taxon_display" style="alignment: left; width: 50%;padding-left: 5%" >
        {% include 'taxonomy_display/taxon_display.html' %}
    </div>
    <div id="taxon_padding" style="alignment: center; width: 15%"></div>
    <div id="taxon_latest_annotations" style="alignment: right; width: 30%;">
        {% include 'latest_genes_display/latest_genes_display.html' %}
    </div>
</div>
{% endblock main %}