{% load static %}

{% block extra_css %}
    <style>
    #accordion .has-children.closed a {
    }
    #accordion .has-children {
    }
    #accordion li {
    }
    ul { /* This controls the indent of the taxonomy tree */
        padding-left: 20px;
    }

    </style>
{% endblock extra_css %}

{% block extra_js %}
    <script src="{% static 'js/taxonomy_tree.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.quiccordion.js' %}"></script>
{% endblock extra_js %}

{% block taxon_display %}
    <div style="text-align: center">
        To visit a taxon, click the taxon name. To expand/collapse the tree, click on a taxon's stripe.
        <br>
    </div>
    <form id="searchForm" action="javascript:searchFunction();">
    <div class="form-row justify-content-center">
        <input type="search" id="taxonSearchInput"  class="input-group-text" placeholder="Search for taxon" style="text-align: center">
        <button id="searchBtn" class="btn btn-primary" type="button" onclick="searchFunction()">Search</button>
    </div>
    </form>
    <br>
    <div id="taxonomy_tree">
    </div>
    <script type="text/javascript">
    const taxonsJS = JSON.parse('{{ taxonsJS | safe }}');
    const openLevelVar = 4;
    document.getElementById("taxonomy_tree").innerHTML = build_tree(taxonsJS);
    // Call the script from jquery.quiccordion.js to pretty up the tree
    $(document).ready(function() {
        $("#accordion").quiccordion({openLevel: openLevelVar, preserveChildren: true});
    });
    // Call the function to color the different depths of the tree
    $(document).ready(function() {
        update_depth(openLevelVar);
    });
    // Call the function to fill in the annotation counts for all children
    $(document).ready(function() {
        getChildAnnotations();
    });
    // Change the icon class if taxonElement clicked
    $('.taxonElement').click(function(e){
        $(this).children('i').first().toggleClass("fa-plus fa-minus");
    });
    // Function for the text search
    function searchFunction() {
        const taxon = document.getElementById("taxonSearchInput").value;
        const pattern = taxon.toLowerCase();
        const items = Array.from(document.querySelectorAll('.taxonElement'));
        // Use some instead of forEach so we can stop after the first match
        items.some(function(element) {
            // Have to use .childNodes[0] here or it includes all parents
            const text = element.childNodes[0].innerText.toLowerCase();
            if (text.match(pattern)) {
                const parents = getParents(element);
                // Need to change the display for all the parent elements
                parents.forEach(function(parentElement) {
                    parentElement.style.display = "block";
                });
                element.parentElement.scrollIntoView({behavior: 'smooth'});
                return true;
            }
        });
    }

    function getParents(elem) {
        let parents = [];
        while(elem.parentNode && elem.parentNode.id !== 'root') {
            elem = elem.parentNode;
            parents.push(elem);
        }
        return parents;
    }

    // Function to propagate the child taxon annotation counts up the tree
    function getChildAnnotations() {
        // Get all taxons that don't have annotations directly set. Class is set in taxonomy_tree.js
        const annotationCounts = document.querySelectorAll('.annotationCount');
        annotationCounts.forEach(function(element) {
            let sum = 0;
            // Find all the taxons that do directly have annotations and sum them for all children
            // Have to grab the parentElement to get the <li> instead of the <span> we are in so it actually gets children
            const childrenNodes = element.parentElement.querySelectorAll('.annotationLink');
            childrenNodes.forEach(function(child) {
                childText = child.innerHTML;
                number = childText.replace(/[^\d.]/g, '');
                sum += parseInt(number);
            });
            // Only add the text if there actually are children taxon with annotations
            if (sum > 0) {
                element.innerHTML = "   " + sum + " child annotations";
            }
        });
    }
    </script>
{% endblock %}

