{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Edit Annotation page{% endblock %}
{% block meta_description %}This page is for users to edit an annotation{% endblock %}

{% block main %}
    {% if logged_in %}
        <div id="annotationEditTitle">
            <h3>Annotation: {{ annotation.db_obj_symbol }}{% if annotation.db_obj_id %} | {{ annotation.db_obj_id }}{% endif %}
                {% if annotation.db_obj_name %} | {{ annotation.db_obj_name }}{% endif %}
                {% if annotation.db_obj_synonym %} | {{ annotation.db_obj_synonym }}{% endif %}
            </h3>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div id="comments" class="form-group">
                <label for="id_commments" class>
                    Comments for the moderator
                </label>
                <div class>
                    <textarea name="comments" class="textarea form-control" id="id_commments"></textarea>
                </div>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    {% else %}
        You must be a logged in superuser
    {% endif %}
{% endblock main %}