{% extends 'base.html' %}

{% block title %}Annotation changes page{% endblock %}
{% block meta_description %}History of changes for annotation{% endblock %}

{% block main %}
    <h3>Summary of changes to annotation {{ annotation.db_obj_id }}</h3>
    <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Change number:</th>
            <th>Field changed:</th>
            <th>Old:</th>
            <th>New:</th>
            <th>Changed by:</th>
            <th>Changed on</th>
        </tr>
    </thead>
    {% for delta in delta_list %}
        <tbody>
        {% for change in delta.changes %}
            <tr>
                <td>{{ delta.number }}</td>
                <td>{{ change.field }}</td>
                <td>{{ change.old }}</td>
                <td>{{ change.new }}</td>
                <td><a href="{% url 'accounts:info' delta.changed_by %}">{{ delta.changed_by }}</a></td>
                <td>{{ delta.history_date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    {% endfor %}
    </table>
{% endblock main %}