{% extends 'base.html' %}

{% block title %}Ontology term{% endblock title %}
{% load gene_templatetags %}
{% block meta_description %}Oontology term view page for the Planteome curate site{% endblock meta_description %}

{% block main %}
    <div id="singleOntoTerm">
        <h2>Term: {{ onto_term.term_name }}</h2>
        <br>
        <div class="card" style="width: 50%;">
            <div class="card-body">
                <div class="row">
                    <p><strong>Accession: </strong>{{ onto_term.onto_term }}</p>
                </div>
                <div class="row">
                    <p><strong>Name: </strong>{{ onto_term.term_name }}</p>
                </div>
                <div class="row">
                    <p><strong>Ontology: </strong>{{ onto_term.get_aspect_display }}</p>
                </div>
                <div class="row">
                    <p><strong>Definition: </strong>{{ onto_term.term_definition }}</p>
                </div>
                {% if onto_term.term_synonyms %}
                    <div class="row">
                        <p><strong>Synonyms: </strong>{{ onto_term.term_synonyms }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    <div id="annotationList" class="card">
        <div class="card-header" style="text-align: center">
            <h1 class="d-inline-block align-middle" id="Annotations">Annotations</h1>
            {% if logged_in %}
                &nbsp;
                <div class="d-inline-block align-middle">
                    <a class="btn-lg btn-primary" role="button" href="{% url 'annotations:annotation_add' %}">Add new annotation</a>
                </div>
            {% endif %}
        </div>
    {% if related_annotations %}
        <table class="card-table table table-hover table-striped">
        <thead>
        <tr>
            <th>Accession</th>
            <th>Source Gene DB ID</th>
            <th>Aspect (Ontology)</th>
            <th>Ontology term</th>
            <th>Qualifier</th>
            <th>Evidence Code</th>
            <th>Assigned By</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for related_annotation in related_annotations %}
            <tr>
                <td><a href="{% url 'annotations:annotation' pk=related_annotation.pk %}">{{ related_annotation.pk }}</a></td>
                <td>{{ related_annotation.db }}:{{ related_annotation.db_obj_id }}</td>
                <td><div align="center" title="{{ related_annotation.get_aspect_display }}">{% get_aspect related_annotation.aspect %}</div></td>
                <td><span class="row"><a href="{{ amigo_base_url }}amigo/term/{{ related_annotation.ontology_term.onto_term }}">{{ related_annotation.ontology_term.onto_term }}</a>:&nbsp;<div id="rel_ont_term_{{ forloop.counter }}"></div>
                            <script type="application/javascript">
                            $.getJSON("{{ amigo_base_url }}api/entity/terms?entity={{ related_annotation.ontology_term.onto_term }}", function(json){
                                const element = document.getElementById("rel_ont_term_{{ forloop.counter }}");
                                element.innerHTML = json.data[0].annotation_class_label;
                            });
                            </script></span></td>
                <td>{{ related_annotation.qualifier }}</td>
                <td><div align="center" title="{{ related_annotation.get_evidence_code_display }}">{% get_evCode related_annotation.evidence_code %}</div></td>
                <td>{{ related_annotation.assigned_by }}</td>
                <td>{{ related_annotation.date }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% else %}
    {% endif %}
    </div>
{% endblock %}