{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block main %}
    <div style="text-align: center">
        <h1>
            Welcome to the home page for planteome curate.
            {% if not user.is_authenticated %}
                <a href="{% url 'accounts:login' %}">Login</a>
            {% endif %}
        </h1>
    </div>
    <br>
    <div class="row">
        <div id="taxon_display" style="alignment: left; width: 50%" >
            {% block taxon_display %}
                {% include 'taxonomy_display/taxon_display.html' with taxons=taxons %}
            {% endblock taxon_display %}
        </div>
        <div id="home_padding" style="alignment: center; width: 10%;"></div>
        <div id="latest_genes_display" style="alignment: right; width: 30%; text-align: right">
            {% block latest_genes_display %}
                {% include 'latest_genes_display/latest_genes_display.html' with latest_annotations=latest_annotations %}
            {% endblock latest_genes_display %}
        </div>
    </div>
{% endblock main %}
