{% extends 'base.html' %}

{% block title %}Moderator page{% endblock %}

{% block main %}
    {% if user.role == "Moderator" %}
        <h2 align="center">All important pages for a moderator</h2>
        <br>
        <div class="card-deck">
            <div class="card border-primary mb-3">
                <h3 class="card-title" align="center">Approvals</h3>
                <div class="card-body">
                    <h4 class="card-title"><a href="{% url 'genes:approval' %}">Gene approval page</a></h4>
                    <p class="card-text">Approve new and changed genes</p>
                    <br>
                    <h4 class="card-title"><a href="{% url 'annotations:approval' %}">Annotation approval page</a></h4>
                    <p class="card-text">Approve new annotations</p>
                </div>
            </div>
        </div>
    {% else %}
        <h2 align="center">You must be a Moderator to use this page</h2>
    {% endif %}
{% endblock main %}