{% load static %}
<div class="container" style="width: 100%">
    <div class="row d-flex" style="align-items: center">
        <div>
            <a href="/" title="Home" id="logo">
                <img src="{% static 'images/Planteome_logo1.png' %}" width="180" style="margin-right: 10px">
            </a>
        </div>
        <nav class="navbar navbar-expand navbar-light bg-light" role="navigation" style="height: 100px">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'about' %}">About us</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'contact' %}">Contact us</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'genes:search' %}">
                <div>
                    <input class="form-control mr-sm-2" placeholder="Search for genes: CONSTANS, AT5G15850" type="search" name="search" size="40">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> </button>
                </div>
            </form>
        </nav>
        <div class="ml-auto" style="display: inline; justify-content: center; align-items: center">
            {% if request.user.is_authenticated %}
                <div class="row">
                    <div class="col-auto">
                        <div style="text-align: center">
                        <a class="fas fa-2x fa-user-alt" href="{% url 'accounts:info' user=request.user %}"login button></a>
                        </div>
                        <div style="text-align: center; font-size: x-small">Account</div>
                    </div>
                    <div class="col-auto">
                        <div style="text-align: center">
                        <a class="fas fa-2x fa-plus-circle" href="{% url 'genes:gene_add' %}"gene add button></a>
                        </div>
                        <div style="text-align: center; font-size: x-small">Add gene</div>
                    </div>
                    <div class="col-auto">
                        <div style="text-align: center">
                        <a class="fas fa-2x fa-plus-circle" href="{% url 'annotations:annotation_add' %}"annotation add button></a>
                        </div>
                        <div style="text-align: center; font-size: x-small">Annotation</div>
                    </div>
                </div>
            {% else %}
                <div class="col">
                    <div>
                    <a class="fas fa-2x fa-sign-in-alt" href="{% url 'accounts:login' %}"login button></a>
                    </div>
                    <div>Sign in</div>
                </div>
            {% endif %}
        </div>
    </div>
</div>