<ul id="pagination-box" class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
    {% else %}
      <li class="disabled page-item"><span class="page-link">Previous</span></li>
    {% endif %}

    {# First page #}
    {% if show_first %}
        <li class="page-item"><span class="page-link"><a href="?page=1">1</a> </span> </li>
        <li class="page-item"><span class="page-link"> ... </span></li>
    {% endif %}

    {# List of pages (wtih current "active") #}
    {% for page in page_numbers %}
        {% ifequal page page_obj.number %}
            <li class="active page-item"><span class="page-link"><a href="#" style="color: white">{{ page }}</a></span> </li>
        {% else %}
            <li class="page-item"><span class="page-link"><a href="?page={{ page }}">{{ page }}</a></span> </li>
        {% endifequal %}
    {% endfor %}

    {# Last page #}
    {% if show_last %}
        <li class="page-item"><span class="page-link"> ... </span></li>
        <li class="page-item"><span class="page-link"><a href="?page=last">{{ page_obj.paginator.num_pages }}</a> </span> </li>
    {% endif %}

    {# Next page link #}
    {% if page_obj.has_next %}
        <li class="page-item"><span class="page-link"><a href="?page={{ page_obj.next_page_number }}">Next</a> </span> </li>
    {% else %}
        <li class="disabled page-item"><span class="page-link">Next</span> </li>
    {% endif %}
</ul>
