{% extends 'base.html' %}

{% block title %}Gene{% endblock title %}
{% load gene_templatetags %}
{% block meta_description %}Gene view page for the Planteome curate site{% endblock meta_description %}

{% block main %}
    <div style="text-align: center;">
        {% if logged_in %}
            <div id="singleGeneEdit" class="d-inline-block">
                <a href="{% url 'genes:gene_edit' pk=gene.id %}" class="btn btn-info" role="button">Edit gene info</a>
            </div>
            <div id="addGene" class="d-inline-block">
                <a href="{% url 'genes:gene_add' %}" class="btn btn-primary" role="button">Add new gene</a>
            </div>
            {% if change_count %}
                <div id="geneChanges" class="d-inline-block">
                    <a href="{% url 'genes:gene_changes' pk=gene.id %}" class="btn btn-dark" role="button">View {{ change_count }} approved change{{ change_count|pluralize }}</a>
                </div>
            {% endif %}
        {% endif %}
        <div id="viewAnnotations" class="d-inline-block">
            <a href="#Annotations" class="btn btn-secondary" role="button">View Annotations</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div style="alignment: left; width: 50%">
            <div id="singleGeneView" class="card">
                <div class="card-header" style="text-align: center;">
                <h2>Gene: {{ gene.gene_id }}{% if gene.name %} | {{ gene.name }}{% endif %}{% if gene.symbol %} | {{ gene.symbol }}{% endif %}</h2>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item ml-3">
                            <h4 class="card-title">Symbol:</h4>
                            <p class="card-text">{{ gene.symbol }}</p>
                        </li>
                        <li class="list-group-item ml-3">
                            <h4 class="card-title">Gene Name:</h4>
                            <p class="card-text">{{ gene.name }}</p>
                        </li>
                        <li class="list-group-item ml-3">
                            <h4 class="card-title">Gene ID:</h4>
                            <p class="card-text">{{ gene.gene_id }}</p>
                        </li>
                        <li class="list-group-item ml-3">
                            <h4 class="card-title">Gene type:</h4>
                            <p class="card-text">{{ gene.gene_type }}</p>
                        </li>
                        <li class="list-group-item ml-3">
                            <h4 class="card-title">Species:</h4>
                            <p class="card-text">{{ gene.species }}</p>
                        </li>
                        <li class="list-group-item ml-3">
                            <h4 class="card-title">Synonyms:</h4>
                            <p class="card-text">{{ gene.synonyms }}</p>
                        </li>
                        <li class="list-group-item ml-3">
                            <h4 class="card-title">Location:</h4>
                            <p class="card-text">{{ gene.location }}</p>
                        </li>
                        <li class="list-group-item ml-3">
                            <h4 class="card-title">Summary:</h4>
                            <p class="card-text">{{ gene.summary }}</p>
                        </li>
                        <li class="list-group-item ml-3">
                            <h4 class="card-title">Description:</h4>
                            <p class="card-text">{{ gene.description }}</p>
                        </li>
                        <li class="list-group-item ml-3">
                            <h4 class="card-title">Phenotype:</h4>
                            <p class="card-text">{{ gene.phenotype }}</p>
                        </li>
                        <li class="list-group-item ml-3">
                            <h4 class="card-title">Data Source:</h4>
                            <p class="card-text">Object ID: {{ gene.data_source_object_id }}
                            <br>Source Name: {{ gene.data_source_name }}</p>
                        </li>
                        <li class="list-group-item ml-3">
                            <h4 class="card-title">EC number:</h4>
                            <p class="card-text"><div id="ec_number"></div></p>
                            <script type="application/javascript">
                                $.getJSON("https://rest.uniprot.org/uniprotkb/search?query={{ gene.gene_id }}%20AND%20(taxonomy_id:{{ gene.species_id }})&format=json&fields=ec", function(json){
                                    const element = document.getElementById("ec_number");
                                    try {
                                        ecNumber = json.results[0].proteinDescription.recommendedName.ecNumbers[0].value;
                                        uniprotID = json.results[0].primaryAccession;
                                        if (typeof ecNumber !== 'undefined') {
                                            element.innerHTML = "<a href='https://www.uniprot.org/uniprotkb/" + uniprotID + "/entry'>" + ecNumber + "</a>";
                                        } else {
                                            element.innerHTML = "Not found";
                                        }
                                    } catch (e) {
                                        element.innerHTML = "Not found";
                                    }
                                })
                            </script>
                        </li>
                {% if pubmed %}
                        <li class="list-group-item ml-3">
                            <h4 class="card-title">Pubmed links:</h4>
                            {% for id, title in pubmed.items %}
                                <p class="card-text">{{ title }} (Pubmed: <a href="https://pubmed.ncbi.nlm.nih.gov/{{ id }}">{{ id }}</a>)
                                (<a href="{% url 'genes:by-reference' id %}">Associated genes to this paper</a>)
                            {% endfor %}
                        </li>
                {% endif %}
                    </ul>
                </div>
            </div>
            {% if change_count %}
                <br>
                <div style="text-align: center">
                        <div id="singleGeneChanges" class="d-inline-block">
                            <a href="{% url 'genes:gene_changes' pk=gene.id %}" class="btn btn-info" role="button">Gene History</a>
                        </div>
                </div>
            {% endif %}
        </div>
        <div style="alignment: center; width: 10%"></div>
        <div style="alignment: right; width: 30%; text-align: center">
            <div id="latest_annotations" class="card">
                <div class="card-header">
                    <h3 style="color:red">Latest annotations for this gene:</h3>
                </div>
                {% if latest_annotations %}
                    <ul class="list-group list-group-flush">
                    {% for latest_annotation in latest_annotations %}
                        <li class="list-group-item ml-3">
                        <div class="row">
                            <a href="{% url 'annotations:annotation' pk=latest_annotation.id %}">{{ latest_annotation.ontology_term.onto_term }}</a>
                            &nbsp;-&nbsp;
                            <div id="ont_term_{{ forloop.counter }}"></div>
                            <script type="application/javascript">
                            $.getJSON("{{ amigo_base_url }}api/entity/terms?entity={{ latest_annotation.ontology_term.onto_term }}", function(json){
                                const element = document.getElementById("ont_term_{{ forloop.counter }}");
                                element.innerHTML = json.data[0].annotation_class_label;
                            });
                            </script>
                        </div>
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item ml-3">None found</li>
                    </ul>
                {% endif %}
            </div>
        <br><br>
            <div id="paralogs" class="card">
                <div class="card-header">
                    <h3 style="color:red">Paralogous genes:</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item ml-3">
                        Placeholder until orthologs are available from API or internally
                    </li>
                </ul>
            </div>
        <br><br>
            <div id="homologs" class="card">
                <div class="card-header">
                    <h3 style="color:red">Orthologous genes:</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item ml-3">
                        Placeholder until homologs are available from API or internally
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <div id="annotationList" class="card">
        <div class="card-header" style="text-align: center">
            <h1 class="d-inline-block align-middle" id="Annotations">Annotations</h1>
            {% if logged_in %}
                &nbsp;
                <div class="d-inline-block align-middle">
                    <a class="btn-lg btn-primary" role="button" href="{% url 'annotations:annotation_add' %}">Add new annotation</a>
                </div>
            {% endif %}
        </div>
    {% if related_annotations %}
        <table class="card-table table table-hover table-striped">
        <thead>
        <tr>
            <th>Accession</th>
            <th>Source Gene DB ID</th>
            <th>Aspect (Ontology)</th>
            <th>Ontology term</th>
            <th>Qualifier</th>
            <th>Evidence Code</th>
            <th>Assigned By</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for related_annotation in related_annotations %}
            <tr>
                <td><a href="{% url 'annotations:annotation' pk=related_annotation.pk %}">{{ related_annotation.pk }}</a></td>
                <td>{{ related_annotation.db }}:{{ related_annotation.db_obj_id }}</td>
                <td><div align="center" title="{{ related_annotation.get_aspect_display }}">{% get_aspect related_annotation.aspect %}</div></td>
                <td><span class="row"><a href="{{ amigo_base_url }}amigo/term/{{ related_annotation.ontology_term.onto_term }}">{{ related_annotation.ontology_term.onto_term }}</a>:&nbsp;<div id="rel_ont_term_{{ forloop.counter }}"></div>
                            <script type="application/javascript">
                            $.getJSON("{{ amigo_base_url }}api/entity/terms?entity={{ related_annotation.ontology_term.onto_term }}", function(json){
                                const element = document.getElementById("rel_ont_term_{{ forloop.counter }}");
                                element.innerHTML = json.data[0].annotation_class_label;
                            });
                            </script></span></td>
                <td>{{ related_annotation.qualifier }}</td>
                <td><div align="center" title="{{ related_annotation.get_evidence_code_display }}">{% get_evCode related_annotation.evidence_code %}</div></td>
                <td>{{ related_annotation.assigned_by }}</td>
                <td>{{ related_annotation.date }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% else %}
    {% endif %}
    </div>
{% endblock main %}